* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
.container {
    padding: 55px 40px;
}

.header__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__content nav {
    display: flex;
    align-items: center;
}

.header__content * {
    margin-right: 10px;
}

.header__content .header__nav {
    display: flex;
}

.header__content .header__nav * {
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}

.header__content .header__nav span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: black;
    font-weight: bolder;
    transition: 0.3s;
}

.header__content .header__nav_item :hover {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-clip: text;
    color: transparent;
    transition: 0.3s;
}

.header__content .header__nav_item span {
    display: inline-block;
    transition: all 1s;
}

.header__content .header__nav_item a:hover span {
    animation: upToDown 0.3s;
}

@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

.header__nav_item span {
    margin-right: 0px;
}

.btn-gradient {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    padding: 20px 35px;
    border-radius: 30px;
    border: none;
    line-height: 1.2;
}

.header-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

/* body */
.saCarousel {
    background-image: url(./img/pic2.png);
    padding-top: 180px;
    background-size: cover;
    background-position: top;
}

.saCarousel .container {
    width: 1200px;
    margin: auto;
    background-image: url(./img/);
}

.saCarousel__content {
    display: flex;
}

.saCarousel__content .title p {
    font-weight: 600;
    font-size: 22px;
    color: #f55f8d;
    margin-bottom: 20px;
}

.saCarousel__content .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
}

.saCarousel__article {
    color: grey;
}

.saCarousel__article ul {
    list-style: none;

}

.saCarousel__article p {
    font-size: 18px;
    margin-bottom: 15px;
}